entrypoint = "index.html"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_11"
packages = ["nodejs_20", "static-web-server"]

[deployment]
publicDir = "/"
build = "npm install"
run = "node payment-backend.js"

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && node payment-backend.js"

[[workflows.workflow]]
name = "Static Web Server"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "static-web-server -w ./.config/static-web-server.toml"

[[ports]]
localPort = 5000
externalPort = 80
